  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                  <span class="build-status">
                    {{ '![Netlify Status](https://api.netlify.com/api/v1/badges/577b0e8d-ba58-4214-9d37-75d6a7b5f18d/deploy-status)' | markdownify }}
                  </span>
                </div>
                <div class="col-md-4">
                    <a class="contact" href="mailto:aclibe@gmail.com"><i class="fa fa-envelope"></i> aclibe@gmail.com</a>
                </div>
            </div>
        </div>
    </footer>
