<!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
              <div class="intro-logo img-circle img-responsive">
                <img class="intro-logo-img" src="/img/uploads/logo_36.png" alt="">
              </div>
              <div class="intro-heading">Bienvenue !</div>
              <div class="intro-lead-in">Besoin d'un site web ?<br>On vous propose une solution<br><b>simple</b>, <b>efficace</b> et de <b>proximité</b></div>
              <a href="#services" class="page-scroll btn btn-xl">En savoir plus</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
