<!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">{{ site.title }}</div>
                <div class="intro-lead-in">Besoin d'un site web! Bienvenue. On vous propose des solutions SIMPLE, EFFICACE et de PROXIMITE.</div>
                <a href="#services" class="page-scroll btn btn-xl">Je veux en savoir plus</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
