<!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
              <div class="intro-lead-in">Besoin d'un site web ?<br>On vous propose des solutions<br><b>SIMPLE</b>, <b>EFFICACE</b> et de <b>PROXIMITÉ</b></div>
                <div class="intro-heading">Bienvenue !</div>
                <a href="#services" class="page-scroll btn btn-xl">Je veux en savoir plus</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
