<!-- Plans Section -->
    <section id="plans" class="bg-light-gray-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Plans</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row content">
                <img src="/img/uploads/plan.png" alt="head plan image">
            </div>
            <div class="row justify-content-md-center content">
                {% assign plans = site.plans | sort: 'order' %}
                {% for plan in plans %}
                <div class="col col-xl-4 item">
                  <img src="{{ plan.image }}" alt="plan image">
                  <div class="text-box {{ plan.color }}">
                    <p class="title">{{ plan.name }}</p>
                    <div class="text">
                      {{ plan.content }}
                    </div>
                  </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
