<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include services.html %}
    {% include pricing.html %}
    {% if site.settings.first.display-portfolio %}
        {% include portfolio_grid.html %}
    {% endif %}
    {% include about.html %}
    {% include team.html %}
    {% if site.settings.first.diplay-clients %}
    {% include clients.html %}
    {% endif %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}


    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
    </body>
</html>
